<h1> Faith Szeto </h1>
<img src='/assets/faith.jpg' style="width:100%;height:auto;">
<h3> New Jersey </h3>
<h3> Junior </h3>
<p> I can sleep with my eyes open </p>
<p style="color:red"><u> I'm excited to learn how to actually make a website!</u></p>